{% extends "layout.html" %}

{% block title %}
  Book Details
{% endblock %}

{% block css %}
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/book_details.css') }}">

{% endblock %}

{% block body %}
<div class="bar">
<div class="l">
  <ul class="nav nav-pills">
<div id="BookCheckerz">
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('index') }}">BookCheckerz</a>
  </li>
</div>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('index') }}">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('search') }}">Search</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('login') }}">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('register') }}">Register</a>
  </li>
<div id="logout">
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
  </li>
</div>
  </ul>
</div>
</div>
<div class="bg">
<br>


  <div class="ff">
  <h3>Book Details</h3>
  <br>

  <!-- data from database -->
  {% if dbdata %}

  <ul>
    {% for i in dbdata %}
      <li>Title: <span>{{ i.title }}</span></li>
      <li>Author: <span>{{ i.author }}</span></li>
      <li>Publication Year: <span>{{ i.year }}</span></li>
      <li>ISBN number: <span> {{ i.isbn }}</span></li>
    {% endfor %}
  </ul>
  </div>
  {% endif %}




  <!-- data from apicall  -->
{%if apidata %}
<div class="ff">
<h3> Review Details</h3>
<br>

  <ul>

    <li>Total Reviews: <span>{{apidata['books'][0]['work_reviews_count']}}</span></li>
    <li>Total Rating: <span>{{apidata['books'][0]['work_ratings_count']}}</span></li>
    <li>Average rating: <span>{{apidata['books'][0]['average_rating']}}</span></li>

  </ul>
</div></div>
{%endif%}
<div id="flex">
<div class="d-flex p-2 bd-highlight"></div></div>
<br>
<div class="ff">
<h3>Reviews</h3></div><br><br>



{% if reviews %}
{% for i in reviews %}
<div id="bg">
<a href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"> {{ i.username }}</h5><br><br>
      <small class="text-muted">Rating: {{ i.rating }}</small>
    </div>
    <p class="mb-1">{{ i.review }}<br></p><br><br>
  </a></div>

{% endfor %}
{% endif %}







<div id="comm">
<div class="form-group">
    <form input = "{{ url_for('book_details',isbn = isbn) }}" method="post">
    <label for="exampleFormControlTextarea1"><h5>Comment</h5></label>
    <textarea class="form-control" name="comment" placeholder="Write a comment..." id="exampleFormControlTextarea1" rows="3"></textarea>
    <br><div id="btn"><button  type="submit" class="btn btn-primary">Submit</button></div>
  </div>
</div>


<div id="rate">
  <div class="form-group">
    <label for="exampleFormControlSelect1"><h5>Rate book</h5></label>
    <select class="form-control" name="rate" id="exampleFormControlSelect1">
      <option>1 Star</option>
      <option>2 Stars</option>
      <option>3 Stars</option>
      <option>4 Stars</option>
      <option>5 Stars</option>
    </select>

  </div>
</div>



{% endblock %}
