{% extends "layout.html" %}

{% block title %}
  Register
{% endblock %}

{% block css %}
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/register.css') }}">

{% endblock %}

{% block body %}
<div class="bar">
<div class="l">
  <ul class="nav nav-pills">
<div id="BookCheckerz">
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('index') }}">BookCheckerz</a>
  </li>
</div>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('index') }}">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('search') }}">Search</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('login') }}">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="{{ url_for('register') }}">Register</a>
  </li>
<div id="logout">
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
  </li>
</div>
  </ul>
</div>
</div>
<br>
<br><br>
<h1 class="display-4">Create Account</h1>
<br>

<form action="{{ url_for('register') }}" method="post">


<div class="form-group">
  <label for="exampleInputEmail1">Email address</label>
  <input type="email" class="form-control" name="email_id" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
</div>



<div class="form-group">
  <label for="exampleInputPassword1">Password</label>
  <input type="password" class="form-control" name="pass1" id="exampleInputPassword1" placeholder="Password">
</div>


<div class="form-group">
  <label for="exampleInputEmail1">Re enter Password</label>
  <input type="password" class="form-control" name="pass2" id="exampleInputPassword2" placeholder="Password">
</div>

<br>
<button type="submit" class="btn btn-primary">Create</button>
</form>


{% endblock %}
