{% extends "layout.html" %}

{% block title %}
  Search Book
{% endblock %}

{% block css %}
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/search.css') }}">
{% endblock %}



{% block body %}
  <div class="bar">
  <div class="l">
    <ul class="nav nav-pills">
  <div id="BookCheckerz">
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('index') }}">BookCheckerz</a>
    </li>
  </div>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('index') }}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="{{ url_for('search') }}">Search</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('login') }}">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('register') }}">Register</a>
    </li>

  <div id="logout">
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
    </li>
  </div>

{% if session["user_name"] %}

    <li class="nav-item">
    <p>{{ session["user_name"] }}</p>
    </li>

{% endif %}


    </ul>
  </div>
  </div>
  <div class="bg">
  <div class="ff"><br><h2>Account details:</h2><br>

    <ul>
        <li>User ID: <span>{{ session["user_id"] }}</span></li>
        <li>Email: <span>{{ session["user_name"] }}</span></li>
        <li>Password: <span>{{ session["password"] }}</span></li>
    </ul>

</div></div>

  <div id="flex"><div class="d-flex p-2"></div></div>
  <br>
  <div id="hh">
  <h3>Search a book by title/author/isbn:</h3></div>
  <!-- Search form -->
<div id="search">
<form action = "{{ url_for('search') }}" method="post" class="form-inline md-form mr-auto mb-4">
  <input class="form-control mr-sm-2" name="search_book" type="text" placeholder="Search" aria-label="Search">
  <button type="submit" class="btn btn-primary">Search</button>
</form>
</div>


{% if table == True %}
  <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">Year</th>
      <th scope="col">ISBN</th>
    </tr>
  </thead>
  <tbody>

      {% for i in result %}
    <tr>

      <td><a href = "{{ url_for('book_details',isbn = i.isbn) }}">{{i.title}}</td>
      <td>{{i.author}}</td>
      <td>{{i.year}}</td>
      <td><a href = "{{ url_for('api',isbn = i.isbn) }}">{{i.isbn}}</td>

    </tr>
      {% endfor %}

  </tbody>
  </table>
{% endif %}

{% endblock %}
