{% extends "layout.html" %}

{% block title %}
  Search Book
{% endblock %}

{% block css %}
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/search.css') }}">
{% endblock %}



{% block body %}
  <div class="bar">
  <div class="l">
    <ul class="nav nav-pills">
  <div id="BookCheckerz">
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('index') }}">BookCheckerz</a>
    </li>
  </div>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('index') }}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="{{ url_for('search') }}">Search</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('login') }}">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('register') }}">Register</a>
    </li>
  <div id="logout">
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
    </li>
  </div>
    </ul>
  </div>
  </div>
  <br><h3>Account details:</h3><br>



  <div class="container">
  <div class="row align-items-start">
    <div class="col">
      User ID:
    </div>
    <div class="col">
      Email ID:
    </div>
    <div class="col">
      Password:
    </div>
  </div>
  <br></div>
  <div id="grid1">


  <div id="id">{{  session["user_id"] }}</div><div id="email"> {{ session["user_name"] }}</div>

  <div id="password">{{ session["password"] }}</div></div>

  <br>
  <div id="flex"><div class="d-flex p-2"></div></div>

  <!-- Search form -->
<form class="form-inline d-flex justify-content-center md-form form-sm active-cyan-2 mt-2">
  <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search"
    aria-label="Search">
  <i class="fas fa-search" aria-hidden="true"></i>
</form>

<form class="form-inline md-form mr-auto mb-4">
  <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
  <button class="btn aqua-gradient btn-rounded btn-sm my-0" type="submit">Search</button>
</form>
{% endblock %}
