.bar {
  background-color: black;
}


ul p{
    padding-left: 1em;
    color: white;
}



a{
  color: #6666de;
}

#BookCheckerz {

  font-weight: bold;

}

#logout {
  margin-left: 800px;
}


.jumbotron {
  height:70vh;
}
