.bar {
  background-color: black;
}

#logout {
  margin-left: 800px;
}


ul p{
    padding-left: 1em;
    color: white;
}



#BookCheckerz {

  font-weight: bold;

}

.container {
  color: white;
  background-color: #1f2091;
  margin-right: 7em;
}

#id {
  display: inline-grid;
  padding-left: 2em;
}

#email {
  display: inline-grid;
  padding-left: 19em;
}

#password {
  display: inline-grid;
  padding-left: 18em;
}

#grid1 {

  background-color: #24d9e3;
  margin-left: 7.1em;
  margin-right: 7em;
}

h3 {
  text-align: center;
  padding-right: 8em;
  font-weight: bold;
}

#flex {
  background-color: gray;
}

#search {
    padding-left: 32em;
}

#hh {
  padding-right: 40em;
}


h2 {

    padding-left: 1em;
    font-weight: bold;

}



.ff {
  font-family: Verdana;
}

span {
  font-weight: bold;
}


.bg {
  background-color: #d4d0c5
}
